body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
	text-align:justify;
}

main {
    flex: 1;
}
ul{
	list-style-type:none;
	top:0;
	left:0;
	padding:0;
	margin:0;
	width:100%;
	overflow:hidden;
	background-color:#333333;
	position:fixed;
	
}

li{
	float:left;
	
}

li a{
	display:block;
	text-decoration:none;
	text-align:center;
	padding:16px;
	color:white;
	border-left:1px solid #666;
}

li a:hover{
	
	background-color:#111111;
}

footer{

    list-style-type: none;
    bottom:0;
    left: 0;
    margin-right: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
    background-color: #333333;
    position: fixed;

}

p{
	text-align:justify;
	
}
main{
	padding-bottom: 50px;
	margin-top:60px;
	line-height:2.0;
	margin-left:20px;
	margin-right:20px;
	
	
}
